<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="FileStreamingPortBinding">
                    <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'http://webservices.sola.org/filestreaming':    -->
                    <!--    <wsdl:binding name='FileStreamingPortBinding'>    -->
                    <!--        <ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization">..</ns1:OptimizedMimeSerialization>    -->
                    <mtomMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        messageVersion="Soap11" maxBufferSize="65536" writeEncoding="utf-8">
                        <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    </mtomMessageEncoding>
                    <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
                        maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
                        bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                        keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
                        realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
                        useDefaultWebProxy="true" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.43.184:8080/sola/webservices/filestreaming-service"
                binding="customBinding" bindingConfiguration="FileStreamingPortBinding"
                contract="org.sola.webservices.filestreaming.FileStreaming"
                name="FileStreamingPort" />
        </client>
    </system.serviceModel>
</configuration>