<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
 <system.diagnostics>
  <sources>
   <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
    <listeners>
     <add type="System.Diagnostics.DefaultTraceListener" name="Default">
      <filter type="" />
     </add>
     <add name="ServiceModelMessageLoggingListener">
      <filter type="" />
     </add>
    </listeners>
   </source>
   <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing"
    propagateActivity="true">
    <listeners>
     <add type="System.Diagnostics.DefaultTraceListener" name="Default">
      <filter type="" />
     </add>
     <add name="ServiceModelTraceListener">
      <filter type="" />
     </add>
    </listeners>
   </source>
  </sources>
  <sharedListeners>
   <add initializeData="C:\Work\_NET\AdministrativeService\ServiceTester\app_messages.svclog"
    type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
    <filter type="" />
   </add>
   <add initializeData="C:\Work\_NET\AdministrativeService\ServiceTester\app_tracelog.svclog"
    type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
    <filter type="" />
   </add>
  </sharedListeners>
 </system.diagnostics>
 <system.serviceModel>
  <diagnostics>
   <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true"
    logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
  </diagnostics>
  <bindings>
	  <customBinding>
		  <binding name="AdministrativePortBinding">
			  <!--The wsdl schema that was used to create this configuration file contained a 'RequireIssuerSerialReference' assertion for a X509Token.  This can not be represented in configuration, you will need to programatically adjust the appropriate X509SecurityTokenParameters.X509KeyIdentifierClauseType to X509KeyIdentifierClauseType.IssuerSerial.  The default of X509KeyIdentifierClauseType.Thumbprint will be used, which may cause interop issues.-->
			  <security defaultAlgorithmSuite="Basic128" authenticationMode="UserNameForCertificate"
				  requireDerivedKeys="false" securityHeaderLayout="Strict" includeTimestamp="true"
				  keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncrypt"
				  messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
				  requireSignatureConfirmation="false">
				  <localClientSettings cacheCookies="true" detectReplays="true"
					  replayCacheSize="900000" maxClockSkew="00:05:00" maxCookieCachingTime="Infinite"
					  replayWindow="00:05:00" sessionKeyRenewalInterval="10:00:00"
					  sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true"
					  timestampValidityDuration="00:05:00" cookieRenewalThresholdPercentage="60" />
				  <localServiceSettings detectReplays="true" issuedCookieLifetime="10:00:00"
					  maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00"
					  negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00"
					  sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00"
					  reconnectTransportOnFailure="true" maxPendingSessions="128"
					  maxCachedCookies="1000" timestampValidityDuration="00:05:00" />
				  <secureConversationBootstrap />
			  </security>
			  <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
				  messageVersion="Soap11WSAddressing10" writeEncoding="utf-8">
				  <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
					  maxBytesPerRead="4096" maxNameTableCharCount="16384" />
			  </textMessageEncoding>
			  <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
				  maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
				  bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
				  keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
				  realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
				  useDefaultWebProxy="true" />
		  </binding>
      <binding name="CaseManagementPortBinding">
        <security defaultAlgorithmSuite="Basic128" authenticationMode="UserNameForCertificate"
            requireDerivedKeys="false" securityHeaderLayout="Strict" includeTimestamp="true"
            keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncrypt"
            protectTokens="false" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
            requireSignatureConfirmation="false">
          <localClientSettings cacheCookies="true" detectReplays="true"
              replayCacheSize="900000" maxClockSkew="00:05:00" maxCookieCachingTime="Infinite"
              replayWindow="00:05:00" sessionKeyRenewalInterval="10:00:00"
              sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true"
              timestampValidityDuration="00:05:00" cookieRenewalThresholdPercentage="60" />
          <localServiceSettings detectReplays="true" issuedCookieLifetime="10:00:00"
              maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00"
              negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00"
              sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00"
              reconnectTransportOnFailure="true" maxPendingSessions="128"
              maxCachedCookies="1000" timestampValidityDuration="00:05:00" />
          <secureConversationBootstrap />
        </security>
        <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap11WSAddressing10" writeEncoding="utf-8">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </textMessageEncoding>
        <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="true"
            useDefaultWebProxy="true" />
      </binding>
		  <binding name="SearchPortBinding">
			  <!--The wsdl schema that was used to create this configuration file contained a 'RequireIssuerSerialReference' assertion for a X509Token.  This can not be represented in configuration, you will need to programatically adjust the appropriate X509SecurityTokenParameters.X509KeyIdentifierClauseType to X509KeyIdentifierClauseType.IssuerSerial.  The default of X509KeyIdentifierClauseType.Thumbprint will be used, which may cause interop issues.-->
			  <security defaultAlgorithmSuite="Basic128" authenticationMode="UserNameForCertificate"
				  requireDerivedKeys="false" securityHeaderLayout="Strict" includeTimestamp="true"
				  keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncrypt"
				  messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
				  requireSignatureConfirmation="false">
				  <localClientSettings cacheCookies="true" detectReplays="true"
					  replayCacheSize="900000" maxClockSkew="00:05:00" maxCookieCachingTime="Infinite"
					  replayWindow="00:05:00" sessionKeyRenewalInterval="10:00:00"
					  sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true"
					  timestampValidityDuration="00:05:00" cookieRenewalThresholdPercentage="60" />
				  <localServiceSettings detectReplays="true" issuedCookieLifetime="10:00:00"
					  maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00"
					  negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00"
					  sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00"
					  reconnectTransportOnFailure="true" maxPendingSessions="128"
					  maxCachedCookies="1000" timestampValidityDuration="00:05:00" />
				  <secureConversationBootstrap />
			  </security>
			  <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
				  messageVersion="Soap11WSAddressing10" writeEncoding="utf-8">
				  <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
					  maxBytesPerRead="4096" maxNameTableCharCount="16384" />
			  </textMessageEncoding>
			  <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
				  maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
				  bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
				  keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
				  realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
				  useDefaultWebProxy="true" />
		  </binding>
	  </customBinding>
  </bindings>
		<client>
   <endpoint address="http://localhost:8080/sola/webservices/administrative-service"
    binding="customBinding" bindingConfiguration="AdministrativePortBinding"
    contract="org.sola.webservices.administrative.Administrative" name="AdministrativePort">
	   <!-- Required config to ensure the correct identity is used from the
	        server.cer certificate file-->
    <identity>
     <dns value="xwssecurityserver" />
    </identity>
   </endpoint>
   <endpoint address="http://localhost:8080/sola/webservices/search-service"
    binding="customBinding" bindingConfiguration="SearchPortBinding"
    contract="org.sola.webservices.search.Search" name="SearchPort">
	   <!-- Required config to ensure the correct identity is used from the
	        server.cer certificate file-->
    <identity>
     <dns value="xwssecurityserver" />
    </identity>
   </endpoint>
      <endpoint address="http://localhost:8080/sola/webservices/casemanagement-service"
       binding="customBinding" bindingConfiguration="CaseManagementPortBinding"
       contract="org.sola.webservices.casemanagement.CaseManagement" name="CaseManagementPort">
        <!-- Required config to ensure the correct identity is used from the
	        server.cer certificate file-->
        <identity>
          <dns value="xwssecurityserver" />
        </identity>
      </endpoint>
  </client>
	</system.serviceModel>
</configuration>