<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobstrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms defaultUrl="../User/dashboard"
             loginUrl="~/Account/Login.aspx"
             
             />
    </authentication>
    <roleManager enabled="true" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <pages styleSheetTheme="Default"/>
    <profile enabled="true">
      <providers>
        <add name="AspNetProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="MembershipConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="AspNet2MembershipProvider">
      <providers>
        <add name="AspNet2MembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MembershipConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="15" applicationName="/" />
      </providers>
    </membership>
    
  </system.web>
  <connectionStrings>
    <add name="MembershipConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress;Initial Catalog=SolaApplicationForms;Integrated Security=True" />
  </connectionStrings>
</configuration>